@charset "utf-8";

/*
dvd-ac - access control for video DVDs
Copyright (C) 2017 Cooper Paul EdenDay

To the extent possible under law, the author(s) have dedicated all copyright and related
and neighboring rights to this software to the public domain worldwide. This software is
distributed without any warranty.

You should have received a copy of the CC0 Public Domain Dedication along with this software.
If not, see <https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt>.
*/

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 0;
}

header {
    text-align: center;
    margin: 0 35%;
    margin-bottom: 1rem;
}

main {
    text-align: justify;
    margin: 0 5%;
}

video {
    flex: auto;
    width: 100%;
}

#return_button, #title_list, #player {
    display: none;
}
